/*計畫管理系統用*/
[data-bs-theme=dark] {
    --bs-pos-sidebar-bg: #012353;
    --bs-pos-sidebar-bg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --bs-pos-sidebar-header-bg: #4e6985;
    --bs-pos-sidebar-header-color: #FFFFFF;
    --bs-pos-sidebar-header-back-btn-bg: #586f85;
    --bs-pos-sidebar-header-nav-link-bg: #2a343d;
    --bs-pos-sidebar-header-nav-link-color: #6c757d;
    --bs-pos-sidebar-header-nav-link-active-bg: #2d353c;
    --bs-pos-sidebar-header-nav-link-active-color: #FFFFFF;
    --bs-pos-sidebar-footer-bg: #495057;
    --bs-pos-sidebar-footer-color: #FFFFFF;
    --bs-pos-sidebar-product-border-color: #6c757d;
    --bs-pos-sidebar-product-confirmation-bg: rgba(45, 53, 60, 0.95);
    --bs-app-sidebar-bg: #011f4d;
    --bs-app-sidebar-bg: linear-gradient(0deg, rgba(1,53,112,1) 0%, rgba(1,31,77,1) 19%, rgba(1,0,23,1) 90%);
}

.card-footer.text-center button {margin:0;}
.card-header {background-color: #003f87;color:#fff;}
body #gritter-notice-wrapper {top: 3%;}
body #gritter-notice-wrapper .gritter-item-wrapper {
    background: 0 0;
    background: #00000099;}
body #gritter-notice-wrapper .gritter-item-wrapper .gritter-item p {line-height: 2;}
.app-sidebar-content.nhri .menu {font-size: 1.25em;}
.app-sidebar .menu .menu-item.active>.menu-link .menu-icon {color:#ffd900;}

/*.login.login-v1 .login-container .login-body {
    background-image: url(../../index_list/nhri_bg.png);
    background-size: cover;
    opacity: 0.9;
}*/

.login.login-v1 .login-container .login-body  {position: relative;}
.login.login-v1 .login-container .login-body::before {
    content: "";
    display: block;
    background-size: cover;
    background-image: url(../../index_list/nhri_bg.png);
    height: 300px;
    width: 100%;
    opacity: 0.35;
    position: absolute;
    /* 偏移值皆設為 0，讓僞元素跟父元素一樣大小 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.login.login-v1 .login-container .login-body .login-content {position: relative;}
.login.login-v1 .login-container .login-body .login-content .form-control {
    border-color: transparent;
    background: #fff;
    color: #333;
}
.login.login-v1 .login-container .login-body .login-content {color: #333;}
.form-check-label {color:#ccc;}
.login.login-v1 .login-container .login-body .login-content .form-check-input {background: #ccc;}

.card.data-table{padding:5px 10px;}

body{font-family: "微軟正黑體", "Microsoft JhengHei", Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "DFKai-SB", sans-serif;}
.app-footer {padding: 10px 0;text-align: center;}


/*Admin用*/
.before {font-size: .5em; color: #666;}
.card.data-table {font-size: 1.15em;}
.card.data-table th:nth-child(4), .card.data-table td:nth-child(4) {display: none;}
.card .badge {min-width: 75px; margin-right: 15px;}
.widget-stats {min-height: 170px;}
.chats .chats-item .message:before {top: 25%;}
.chat-buttons.btn-group.flex-wrap {margin:15px;}
.chat-buttons.btn-group.flex-wrap a {padding:5px 15px;background-color:#666;border:1px dotted #fff;}

@media only screen and (max-width: 960px) {
    .widget-stats .stats-number, .widget.widget-stats .stats-number small {display: none;}
    .widget-stats {min-height: 135px;}
}

.pos .pos-sidebar .pos-sidebar-body {padding: 10px 15px;}
.pos .data-table {width: 100%;font-size: 1.15em;}
.pos .pos-header .time a.active {background: none;border-bottom: 3px solid #ccc !important;border-radius: 0;}
.pos-header .time a.btn:hover {background-color: #666;border-radius: 0;}

.review  {position:relative;}
.review::before{
    content: "";
    display: block;
    background-size: cover;
    background-image: url(../../index_list/building.png);
    height: 100%;
    width: 100%;
    opacity: 0.1;
    position: absolute;
    /* 偏移值皆設為 0，讓僞元素跟父元素一樣大小 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-nhri {background-color: #012353 !important;}
.text-decoration-none.disabled, .text-decoration-none.disabled:hover {cursor:not-allowed;color:#666;}
/*.pos-content-container {background-color: #ececec;opacity: 0.5;}
.pos .data-table {opacity:1;}*/
.pos .data-table {background-color: #fff;opacity:1;}
.pos .data-table td.title {font-weight: bold;font-size: 1.05em;}

@media only screen and (max-width: 960px) {
    .pos-content .w-200px{display: none;}
    .pos .data-table th:nth-child(2), .pos .data-table td:nth-child(2) {display: none;}
    .pos .data-table th:nth-child(3), .pos .data-table td:nth-child(3) {display: none;}
    .pos-mobile-sidebar-toggler {bottom: 30%;}
}

@media (min-width: 1048px) {
    .pos.pos-with-header.pos-with-sidebar .pos-sidebar {height: calc(100% - 110px);}
}
@media (min-width: 992px) and (max-width: 1047px) {
    .pos .pos-sidebar {height: calc(100% - 50px);width: 200px;}
}

figure {
    margin: 0;
    padding: 15px 20px;
}

.form-group.row {margin:5px 0 10px;}
h2.page-title {font-size: 1.75em;padding: 0;}


.app.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url(../../index_list/hand-holding-tablet.png);
    background-size: cover;
    background-position: top;
    background-position: right;
}
.app.bg img {
    width: 465px;
    margin: 15px 0 0 150px;
}

.app.bgtablet {
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url(../../index_list/tablet_Landscape.png);
    background-repeat: no-repeat;
    background-size: auto 806px;
    background-position: top center;
}
.app iframe {
    width:1033px;
    height:695px;
    position: relative;
    top: 75px;
    left: 45.5%;
    transform: translateX(-45.5%);
}

.app.bgtabletPortrait {
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url(../../index_list/tablet_Portrait.png);
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-size: auto 806px;
    background-position: top center;
}
.app iframe.Portrait {
    width:504px;
    height:682px;
    position: relative;
    top: 62px;
    left: 49.8%;
    transform: translateX(-49.8%);
}

@media (min-width: 992px) and (max-width: 1048px) {
.pos .pos-sidebar.reviewsidebar {width: 250px !important;}
.pos.pos-with-header.pos-with-sidebar {padding-right: 250px !important;}
.pos-content .table.reviewcontent th:nth-child(2),.pos-content .table.reviewcontent td:nth-child(2),.pos-content .table.reviewcontent th:nth-child(3),.pos-content .table.reviewcontent td:nth-child(3) {display: none;}
.d-md-flex.mb-4{margin-bottom:10px;}
}
@media (max-width: 510px) and (max-width: 991px) {
.pos-content .table.reviewcontent th:nth-child(6),.pos-content .table.reviewcontent td:nth-child(6),.pos-content .table.reviewcontent th:nth-child(7),.pos-content .table.reviewcontent td:nth-child(7) {display: none;}
.pos-booking-title a {font-size: 1em;}
.pos-mobile-sidebar-toggler {bottom: 5%;}
.pos .pos-header .logo>a .logo-text {font-size: 14px;}
.logo{width: 100% !important;}
.navPortrait {display: block; width: 50%;}
.time, .nav {display: none;}
}
@media (min-width: 511px) {
.navPortrait {display: none;}
}

.tabletdirection {
    border-radius: 25px;
    width:50px;
    height:50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #ccc9c9;
    background-image: url(../../index_list/85197-200.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}
